@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes//mint.scss';

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a{
    background: $primary;
    &:hover{
        background: $primary-hover;
     }
}

nav li {
    transition: $smooth;
     &:hover{
        color: $primary;
     }
}

section.hero{
    background: $secondary;
}

.size{
    background: $secondary;
}

.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}

.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
     }
}

section.cart{
    background: $secondary;
}

.amount{
    color: $primary;
}

section.login{
    background: $secondary;
    min-height: calc(100vh - 76px);
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}

.noty_theme__mint{
    border-radius: 100px!important;
    padding-left: 8px!important;
}
.copyright p{
    font-size: 1em;
    line-height: 1.5;
}
.link{
    color: $primary
}

@media(max-width: 1060px){
    .container{
        max-width: 90%;
    }
}

@media(max-width: 612px) {
    .heading{
        display: none;
    }
    .nav{
        font-size: small;
    }
    .cart{
        width: .8rem;
    }
    .cartNumber{
        width: 2.8rem;
    }
    .number{
        font-size: .6rem;
    }
    .orderss{
        font-size: .5rem;
    }
    .copyright{
        font-size: .6rem;
    }
    table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .cartItem{
        width: 100%;
    }
}